.rotor {
  width: 30px;
  border-right: 1px solid black;
  text-align: center;
}

.rotorName {
  font-size: 10pt;
  font-weight: bolder;
}

.rotorIndicator {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
